<app-navbar></app-navbar>
<div class="student-liste-container">
  <h2>Liste des Enseignants</h2>
  <table class="student-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Domaine</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (prof of profs; track prof.id_prof) {
      <tr>
        <td>{{ prof.id_prof }}</td>
        <td>{{ prof.nom }}</td>
        <td>{{ prof.prenom }}</td>
        <td>{{ prof.email }}</td>
        <td>{{ prof.numero_telephone }}</td>
        <td>{{ prof.domaine_enseignement }}</td>
        <td>
          <button class="btn btn-edit" (click)="modifier(prof)">Modifier</button>
          <button class="btn btn-delete" (click)="supprimer(prof.id_prof)">Supprimer</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
