body, html {
  height: 100%;
  margin: 0;
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #f8e1f4, #d0e3f7);
  font-family: 'Segoe UI', sans-serif;
}

.login-form {
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width:30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateY(-200px); /* remonte le bloc */
}

.login-form h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #2874a6;
}

.login-form input {
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.login-form input.ng-invalid.ng-touched {
  border-color: red;
}

.login-form button {
  padding: 12px;
  background-color: #2874a6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background-color: #1e5e89;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.error {
  color: red;
  font-size: 14px;
  text-align: center;
}


.login-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}
.forgot-password {
  text-align: right;
  font-size: 12px;
  color: #555;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}
.error-box {
  background-color: #ffe6e6;
  color: #cc0000;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #cc0000;
}


.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-form {
  animation: fadeSlideIn 0.8s ease-out;
}
.password-container {
  position: relative;
}

.password-container input {
  width: 91%;
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.password-toggle:hover {
  opacity: 1;
}


@media (max-width: 768px) {
  .login-form {
    width: 80%;
    padding: 30px 20px;
    transform: none;
  }

  .login-form input,
  .login-form button {
    font-size: 14px;
  }
}
